<div class="panel panel-primary">
  <div class="panel-heading">
    Edit event for <%= @event.user.email %>
    <!-- Edit event -->
  </div>

  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>
