<div class="row">
  <div class="col-md-12">
    <h1   class="text-center">Codaisseur Up!</h1>
    <div class="col-md-3 text-center">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus similique blanditiis eaque architecto sunt officiis placeat suscipit nobis fugit quas amet facilis aliquid quo, dolorum aperiam itaque necessitatibus adipisci eius?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus similique blanditiis eaque architecto sunt officiis placeat suscipit nobis fugit quas amet facilis aliquid quo, dolorum aperiam itaque necessitatibus adipisci eius?</p>
    </div>
    <div class="col-md-6 text-center">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus similique blanditiis eaque architecto sunt officiis placeat suscipit nobis fugit quas amet facilis aliquid quo, dolorum aperiam itaque necessitatibus adipisci eius?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus similique blanditiis eaque architecto sunt officiis placeat suscipit nobis fugit quas amet facilis aliquid quo, dolorum aperiam itaque necessitatibus adipisci eius?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus similique blanditiis eaque architecto sunt officiis placeat suscipit nobis fugit quas amet facilis aliquid quo, dolorum aperiam itaque necessitatibus adipisci eius?</p>
    </div>
    <div class="col-md-3 text-center">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus similique blanditiis eaque architecto sunt officiis placeat suscipit nobis fugit quas amet facilis aliquid quo, dolorum aperiam itaque necessitatibus adipisci eius?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus similique blanditiis eaque architecto sunt officiis placeat suscipit nobis fugit quas amet facilis aliquid quo, dolorum aperiam itaque necessitatibus adipisci eius?</p>
    </div>
  </div>
</div>
