<!-- app/views/photos/_list.html.erb -->

<% if @photos %>
  <div class = "col-md-12 cu-photos">
    <% @photos.each do |photo| %>
      <div class="col-md-4 cu-photos">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-md-12 cu-one-photo">
              <%= image_tag photo.image.medium %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
