<!-- app/views/photos/_list.html.erb -->

<% if @photos %>
  <div class = "col-md-12 cu-photos">
    <% @photos.each do |photo| %>
      <div class="col-md-6 cu-photos">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-md-6 cu-photos cu-photo-edit">
              <div class="col-md-12 cu-photos cu-photo-edit cu-one-photo">
                <%= image_tag photo.image.medium %>
              </div>
              <div class="col-md-12 cu-photos photo_edit">
                <%= link_to "Delete", photo_path( photo.id ), class: "btn btn-default",
                  method: :delete, data: { confirm: "Are you sure?" } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
